/* variables to dry the code, making maintenance easier */

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-size: 62.5%;
}

:root {
  /* fonts, don't want serifs on the web */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --code-font-family: 'Fira Mono', sans-serif;

  /* colors */
  --blue: #90C3D4;
  --pink: #ffb3b3;
  --green: #CDDBD3;
  --almost-white: #f7f7f7;
  --light-light-gray: #E8E8E8;
  --light-gray: #ccc;
  --almost-black: #282828;
  --black: #000;
}


* { /* select all elements */
    box-sizing: border-box; /* padding and border are included in the total width and height of the elements - for the grid */
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* 1 rem = 10 px */
}



p {
  font-size: 20px;
}

/* smacss-organized */

/* base rules: html elements (+ state rules) */
body {
  min-width: 60rem;
  margin: 0 auto;
  background-color: var(--almost-white);
  font-family: var(--main-font-family);
  color: var(--almost-black);
}

nav {
  min-width: 20rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
  width: 100px;
  height: auto;
}

nav ul li {
  flex: 1 0 auto;
  display: inline-block;
  border: 1px solid magenta;
  list-style: none;
}

nav ul li a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

.content{
  display: flex;
  flex-direction: row;
}

.navbar{
  display: flex;
  justify-content: center;
  height: auto;
  background-color: var(--light-gray);
}

.body{
  display: flex;
  background-color: rgb(150,150,255);
  /*flex-grow:(noe); dette skal gjøre så den vokser til hele siden slik at om skjermen blir større så blir også innholdet det, men navbaren er fortsatt like stor*/
  height: auto;
}

@media all and (min-width: 800px) {
  .body {flex-grow: 3 0px;}
  .navbar {order: 1;}
  .body{ order: 2;}
}

#main {
  min-height: 80rem;
  display: flex;
  flex-flow: row;
  font-size: inherit;
}
